@import "../../resources/style/modules/palette";
@import "../../resources/style/modules/typography";
@import "../../resources/style/modules/functions";
@import "../../resources/style/modules/default";
@import "../../node_modules/include-media/dist/include-media";
/*Navigation bar styles*/
.navbar{
    // @include debug(red);
    // @include displayFlex(row,center);
    @include padding;
    background-color: $primary-text-color;
    position: fixed;
    width: 100%;
    top: 0;
    // @include debug(red);

    //logo 
    &__logo{
    
    // @include debug(red);
        color: white;
        @include displayFlex(row,center);
        .menu{
            display: none;
        }
        
    }

    @include media("≥phone", "≤tablet") {
        padding: 0px;

        
        &__logo{
            padding: 4%;
            h4{
                font-size: 1.1rem;
            }

            .menu{
                @include displayFlex(column,flex-end);
                flex:1;
                
                &__container{
                    // @include debug(red);
                    // border: 2px solid white;
                    margin: 2px;
                    padding: 5px;
                    @include displayFlex(column,space-between);                    

                    div{
                        width: 2.3em;
                        height: 4px;
                        background-color: white;
                        margin: 3px;
                        border-radius: 10px;
                        &:nth-last-child(2){
                            width: 50%;
                        }
                    }

                }

            }
        }
        

    }


    

    &__links{
        // @include debug(blue);
        flex:1;
        @include displayFlex(row,center);
        justify-content: space-evenly;
        @include media("≥phone", "≤tablet") {
            display: none;
    }

        //li > a
        li{
            a{
                color: $third-text-color;
                &.active{
                    // @include debug(red);
                    color: white;
                }
            }
            
           
            
            @include button;
            //on hover button
            
        }

        

        


    }

}
/*Navigation bar styles end*/

/*Landing Page styles*/
.hero{
    background: url("../images/banner.jpg");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-attachment: fixed;
    // @include debug(black);
    @include displayFlex(row,center);
    height: 100%;
    padding: calc(2% + 10px);
    padding-left: calc(15% + 10px);
    padding-right: calc(15% + 10px);
    

    @include media("≥phone", "≤tablet") {
        height: initial;
        padding: 0;
        background-color: white;
        background-image: none;
        margin-top: calc(20% + 10px);

        &__text{
            h1{
                font-size: 1.5rem;
                font-weight: bold;
            }
        }
        
    }

    &__text{
        background-color: rgba(207, 207, 207, 0.747);
        padding: 10%;

        &--content{
            // @include debug(red);
        }

        &--buttons{
            // @include debug(red);
            @include displayFlex(row,center);
            // justify-content: spca;
            

            button{
                @include button;
                padding: 0.8rem;
                margin: 5px;
                border: 2px solid $primary-text-color!important;
                background-color: $primary-text-color;

                &:hover{
                    border: 2px solid transparent!important;
                    background-color: $secondary-text-color;
                }
            }
        }
        
        
    }

}
/*Landing Page styles end*/

/*about page styles */
.about{
    padding: 5%;
    @include displayFlex(row,center);
    @include media("≥phone", "≤tablet") {
        flex-wrap: wrap;
    }
    &__image{
        @include displayFlex(column,center);

        img{
            width: 70%;
            display: block;
            
            @include media("≥phone", "≤tablet") {
                width: 100%;
            }
        }
    }

    &__text{
        // @include debug(green);
        @include padding;
        @include displayFlex(column,flex-start);
        justify-content: center;
        
        //header
        h3{

        }

        //content
        p{

        }

        //link
        a{
            color: $primary-text-color;
            text-decoration: underline;
            text-underline-offset: 5px;
        }
    }
}
/*about page styles end*/

/*about second page styles*/
.about_second{
    flex-flow: row-reverse;
    
    @include media("≥phone", "≤tablet") {
        flex-wrap: wrap;
    }

    .about__image{
        
        
    }

}
/*about second page styles end*/

/*Services section page*/
.features{
    // @include debug(black);
    background-color: $third-text-color;
    @include padding;

    &__header{
        // @include debug(green);
        @include displayFlex(column,center);
        @include padding;


    }

    &__wrapper.container{
        @include displayGrid;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        @include media("≥phone", "≤tablet") {
            grid-template-columns: repeat(1,1fr);
        }
        .card{
            // border: 2px solid $primary-text-color;
            background-color: white;
            margin: 5px;
            @include padding;

            
        }
    }
}
/*Services section page end*/


/*goals section*/
    @include card;
    .goals{
        padding: 5%;
        .card{
            background-color: $secondary-text-color;
            margin:10px;
            border-radius: 5px;
            @include displayFlex(column,center);

            //icon{
                span{
                    i{
                        font-size:1.7rem;
                    }
                }
                p{
                    color: $third-text-color;
                }

        }
    }
/*goals section end*/

/*banner section*/
.banner{
    background-color: $primary-text-color;
    // @include debug(black);
    @include displayFlex(row,center);
    @include padding;
    @include media("≥phone", "≤tablet") {
        flex-wrap: wrap;
    }

    //image
    &__image{
        @include displayFlex(column,flex-end);

        img{
            width: 70%;
            display: block;
            
            @include media("≥phone", "≤tablet") {
                width: 100%;
            }
        }
    }

    //text
    &__text{
        // @include debug(green);
        @include padding;
        @include displayFlex(column,flex-start);
        justify-content: center;
        
        //header
        h4{
            color: $third-text-color;

        }

        //content
        p{
            color: $third-text-color;

        }

        //link
        a{
            color: $secondary-text-color;
            text-decoration: underline;
            text-underline-offset: 5px;

            &:hover{
                color: $third-text-color;
                text-decoration: none;
            }
        }
    }
}
/*banner section end*/

/*Work Process*/
.work{
    // @include debug(green);
    @include displayGrid;
    grid-template-columns: 1fr;
    &__header{
        // @include debug(red);
        @include displayFlex(column,center);
        @include padding;

        h5{
            text-transform: uppercase;
            font-size: 0.9rem;
            font-weight: 600;
        }

    }

    &__process{
        // @include debug(black);
        @include padding;
        @include displayGrid;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        @include media("≥phone", "≤tablet") {
            grid-template-columns: repeat(1,1fr);
        }
        
        &--card{
            padding: calc(30% - 100px);
            background-color: $primary-text-color;
            margin: 5px;
            @include displayFlex(row,center);

            @include media("≥phone", "≤tablet") {
            @include padding;
            @include displayFlex(column,center);
                div{
                @include displayFlex(row,center);
                }

            }

            span#icon{
                // @include debug(red);
                padding: 5%;
                border: 2px solid $third-text-color;
                i{
                    font-size:1.5rem;
                }
            }

            div{
                // @include debug(red);
                margin: 10px;
                display: flex;
                flex-direction: column;

                h2{
                    color: $third-text-color;
                    font-weight: bold;
                }

                span{
                    color: $secondary-text-color;
                }
            }
            

        }
            
    }

    &__text{
        // @include debug(red);
        @include displayFlex(row,center);
        p{
            padding-left: calc(30% - 100px);
            padding-right: calc(30% - 100px);
            text-align: center;

        }
    }

}

/*Work Process*/

/*testimonies*/
.testimonies{
    background-color: $third-text-color;
    padding: calc(2% + 10px);

    &__text{
        // @include debug(red);
        @include displayFlex(column,center);
        @include padding;

        h5{
            text-transform: uppercase;
            font-size: 0.9rem;
            // font-weight: bold;
        }

        h3{
            // font-size: 1.6rem;
            font-weight: bold;
        }
        

    }

    &__wrapper{
        padding-left: calc(20% - 100px);
        padding-right: calc(20% - 100px);
        @include displayGrid;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        @include media("≥phone", "≤tablet") {
            grid-template-columns: repeat(1,1fr);
        }
        .testimony__card{
        border-radius: 5px;
        margin: calc(2% + 10px);
        padding: calc(2% + 10px);
        background-color: white;
        @include displayFlex(column,center);

        //title
        &--title{
            @include displayFlex(column,center);
            // @include debug(red);
            h4{
                font-size: calc(40% + 10px);
            }
            h5{
                font-size: calc(20% + 10px);
            }


        }
        
        //image
        &--image{
            @include displayFlex(column,center);
                margin: calc(2% + 10px);
                img{
                    width: calc(30% + 5px);
                    border-radius: 50%;
                    
                }
        }

        //content
        &--desc{
            text-align: center;
        // @include debug(red);
        @include displayFlex(column,center);
            
        }
        
        }

    }
}
/*testimonies end*/

/*blog*/
.blogPost{
    padding: calc(2% + 10px);

    &__text{
        @include displayFlex(column,center);
        h5{
            font-size: 0.7rem;
            text-transform: uppercase;
            margin: 2%;

        }
        h4{
            font-weight: bold;
            font-size: 1.7rem;
        }
    }

    &__wrapper{
        // padding: calc(2% + 10px);
        @include displayGrid;
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
        @include media("≥phone", "≤tablet") {
            grid-template-columns: repeat(1,1fr);
        }


        .blogPost__card{
        margin: 2%;            
            &--image{
                border: 2px solid $third-text-color;
                @include displayFlex(column,center);
                img{
                    width: 50%;
                    max-width: 60%;
                }
            }

            &--content{
            padding: 2px;
            // padding-top: 5%;

                //title
                h5{
                    font-weight: bold;
                }

                &--postDate{
                @include displayFlex(row,center);
                justify-content: space-evenly;
                

                span{

                    small{

                        font-size: 0.7rem;
                        margin: 3px;
                        // text-transform: uppercase;

                    }

                    

                
                }
                }

                a{
                    color: $primary-text-color;
                    text-decoration-thickness: 1px;
                    text-underline-offset: 5px;
                    text-decoration: none;
                    transition: all 0.9s;


                    &:hover{
                    text-decoration: underline;

                    }
                }
            }
        }


    }
}
/*blog end*/

/*contact form */
.contact{
    background-color: $primary-text-color;

    &__text{
        @include displayFlex(column,center);
        padding: calc(2% + 10px);

        h5{
            color: $secondary-text-color;
            margin: 2%;
        }

        h4{
            color: $third-text-color;
            font-size: 1.2rem;
            text-align: center;
        }
    }

    &__wrapper{
        // @include debug(red);
        @include displayGrid;
        padding: calc(5% + 10px);

        form{
        background-color: white;
        margin-left: calc(35% - 100px);
        margin-right: calc(35% - 100px);
        padding: calc(2% - 10px);

        .inputGroup{
        border: 1px solid transparent;
        margin: 10px;
        display: grid;
        border-bottom-color: $third-text-color;


        input{
            border: 2px solid transparent;
            outline: none;
            margin: calc(2% + 2px);

        }

        textarea{
            outline: none;
            border: 2px solid transparent;
            background-color: transparent;
        }

        &:nth-last-child(1){
            // border: 2px dashed red;
            @include displayFlex(column,center);
            border: 2px solid transparent;

            button{
                padding: calc(2% + 5px);
                padding-bottom:2%;
                padding-top:2%;
                border: 1px solid transparent;
                background-color: $primary-text-color;
                color: $third-text-color;
                transition: all 0.5s;

                &:hover{
                background-color: rgb(23, 72, 136);
                color: white;
                }
            }
        }

        }
        }
    }
}
/*contact form end*/

/*footer*/
.footer{
    // @include debug(red);
    background-color: $primary-text-color;
    padding: calc(2% + 10px);

    
    &__wrapper{
    // @include debug(red);
    @include displayGrid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    @include media("≥phone", "≤tablet") {
        // @include debug(red);
        grid-template-columns: repeat(1,1fr);
        align-content: center;
        justify-content: center;
        justify-items: center;
    }
    color: $third-text-color;

    &--media{
        

        ul{
            @include displayFlex(row,center);
            
            li{
                margin: 5px;

                a{
                    color: white;
                    font-size: 1.2rem;
                }
            }
        }
    }

    &--company{
        // @include debug(red);
        @include displayFlex(column,center);
        margin: 5%;
        

        ul{
            @include displayFlex(column,center);
            li{
                a{
                    color: $third-text-color;
                }
            }
        }
    }
}

&__companyName{
    // @include debug(red);
    @include displayFlex(column,center);
    color: white;

}

}

/*footer*/