@font-face {
  font-family: poppins;
  src: url("/resources/style/Poppins/Poppins-Regular.ttf");
}

html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  user-zoom: none;
}

a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row;
      -ms-flex: row;
          flex: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row;
      -ms-flex: row;
          flex: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

img {
  width: 100%;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
  font-family: poppins;
}

p {
  font-family: poppins;
}

a {
  font-family: poppins;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul li a {
  text-decoration: none;
}

/* navigation */
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(5, 5, 5, 0.932);
  position: fixed;
  width: 100%;
  z-index: 100000000000000;
  top: 0;
}

.navbar__logo {
  -webkit-box-flex: 1%;
      -ms-flex: 1%;
          flex: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__logo h4 {
  margin: 20px;
  color: #d3cfcf;
}

.navbar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (min-width: 320px) and (max-width: 768px) {
  .navbar__links {
    display: none;
  }
}

.navbar__links--item {
  margin: 10px;
  font-size: 0.8rem;
  position: relative;
}

.navbar__links--item a {
  color: white;
}

.navbar__links--item a:hover {
  color: #1fa2fa;
}

.navbar__links--item a:hover::after {
  content: "";
  width: 50px;
  height: 3px;
  position: absolute;
  background-color: white;
  left: 0;
  top: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  width: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar__links--item:nth-last-child(1) {
  border-radius: 20px;
}

.navbar__links--item:nth-last-child(1) a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 0.8rem;
  padding: 5px 15px 5px 15px;
  background-color: #058eff;
  border-radius: 20px;
}

.navbar__links--item:nth-last-child(1) a:hover {
  color: white;
  background-color: #0689b4;
}

.navbar__links--item:nth-last-child(1) a:hover::after {
  content: "";
  width: 50px;
  height: 3px;
  position: absolute;
  background-color: white;
  left: 0;
  top: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  width: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar__links--item:nth-last-child(1)::after {
  content: none;
}

@media (min-width: 320px) and (max-width: 768px) {
  .navbar__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    justify-items: center;
    align-items: flex-end;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .navbar__burger--wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    justify-items: center;
    margin-right: 20px;
    cursor: pointer;
    position: relative;
  }
  .navbar__burger--wrapper div {
    width: 35px;
    height: 3px;
    margin: 3px;
    background-color: white;
    border-radius: 10px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
  }
}

/* navigation end*/
/* landing page */
.hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "l r";
}

.hero__text {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: l;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__text p {
  margin: 10%;
  margin-bottom: 5%;
  font-size: 1.4rem;
  font-weight: bolder;
}

.hero__text p strong {
  color: #0a91c7;
}

.hero__text .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 5%;
}

.hero__text .buttons .btn {
  border: 1px solid transparent;
  background-color: transparent;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2%;
  margin: 5%;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.hero__text .buttons .btn a {
  text-decoration: none;
  color: black;
}

.hero__text .buttons .btn:hover {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
          transform: scale3d(1.1, 1.1, 1.1);
  background-color: #4242d3;
}

.hero__text .buttons .btn__primary {
  background-color: #216de0;
}

.hero__text .buttons .btn__primary a {
  color: white !important;
}

.hero__text .buttons .btn__secondary {
  background-color: #028075;
}

.hero__text .buttons .btn__secondary a {
  color: white !important;
}

.hero__image {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: r;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__image img {
  width: 50%;
  max-width: 60%;
}

@media (min-width: 320px) and (max-width: 768px) {
  .hero {
    padding: 20% 0% 20% 0%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "t t" "b b";
  }
  .hero__text {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: b;
    font-weight: bold;
    font-size: 2rem !important;
  }
  .hero__image {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: t;
  }
  .hero__image img {
    width: 40% !important;
  }
}

/* landing page end*/
/*about me */
.about {
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (min-width: 320px) and (max-width: 768px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__image img {
  width: 50%;
  max-width: 95%;
  display: block;
  -o-object-fit: fill;
     object-fit: fill;
}

.about__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4%;
}

.about__text h4 {
  font-size: 0.9rem;
}

.about__text p {
  color: #9d9d9d span;
  color-font-size: 1.6rem;
  color-color: black;
  color-font-weight: bolder;
}

.about__text a {
  color: #008077;
  text-decoration: none;
}

/*about me end*/
/*about me 2*/
.about_second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0px;
}

@media (min-width: 320px) and (max-width: 768px) {
  .about_second {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
}

.about_second .about__image img {
  width: 90%;
  max-width: 95%;
  display: block;
  -o-object-fit: fill;
     object-fit: fill;
}

/*about me 2*/
/*Features*/
.features {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding: 5%;
  background-color: #67ddfa;
}

.features__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__header h4 {
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #464545;
}

.features__header p {
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  margin: 0px;
}

.features__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

@media (min-width: 320px) and (max-width: 768px) {
  .features__wrapper {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.features__wrapper--card {
  padding: 20% 10% 20% 10%;
  border: 1px solid transparent;
  background-color: white;
  -webkit-box-shadow: 1px 3px 7px 7px rgba(105, 105, 105, 0.116);
          box-shadow: 1px 3px 7px 7px rgba(105, 105, 105, 0.116);
  -webkit-transform: scale3d(0.8, 0.8, 0.8);
          transform: scale3d(0.8, 0.8, 0.8);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.features__wrapper--card h4 {
  font-size: 2rem;
}

.features__wrapper--card h5 {
  font-size: 0.9rem;
}

.features__wrapper--card p {
  color: #838282;
  margin-top: 5px;
}

.features__wrapper--card a {
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
}

.features__wrapper--card a:hover {
  color: #0084ff;
}

.features__wrapper--card:hover {
  cursor: pointer;
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
          transform: scale3d(1.1, 1.1, 1.1);
}

@media (min-width: 320px) and (max-width: 768px) {
  .features__wrapper--card:hover {
    cursor: pointer;
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9);
  }
}

.features__wrapper--card:nth-last-child(1) {
  border-right-color: transparent;
}

/* social proof */
.goals {
  padding: 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

@media (min-width: 320px) and (max-width: 768px) {
  .goals {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.goals__card {
  padding: 10%;
  background-color: #e0dede;
  border-radius: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale3d(0.7, 0.7, 0.7);
          transform: scale3d(0.7, 0.7, 0.7);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.goals__card:hover {
  -webkit-transform: scale3d(0.9, 0.9, 0.9);
          transform: scale3d(0.9, 0.9, 0.9);
}

.goals__card span {
  font-size: 2.4rem;
}

.goals__card p {
  font-size: 1.2rem;
}

/* social proof 
end*/
/* banner */
.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 5%;
  background-color: #e7e6e6;
}

@media (min-width: 320px) and (max-width: 768px) {
  .banner {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
}

.banner__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  margin: 5%;
}

.banner__text h4 {
  font-size: 1.7rem;
}

.banner__text p {
  color: #666565;
}

.banner__text a {
  text-decoration: none;
  color: black;
  color: #046e42;
}

.banner__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner__image img {
  width: 100%;
  display: block;
}

/* banner end*/
/*separator*/
.separator {
  padding: 0;
  margin: 0;
}

.separator hr {
  height: 50px;
  color: red;
  width: 1px;
  background-color: black;
  border: 1px solid transparent;
  position: relative;
}

.separator hr:nth-child(1) {
  background-color: #ffbb00;
  height: 70px;
}

.separator hr:nth-last-child(2) {
  background-color: red;
  -webkit-transform: translateX(-20px) translateY(-50px);
          transform: translateX(-20px) translateY(-50px);
}

.separator hr:nth-last-child(1) {
  background-color: red;
  -webkit-transform: translateX(20px) translateY(-110px);
          transform: translateX(20px) translateY(-110px);
}

/*separator end*/
/*work Proccess*/
.work {
  display: none;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding: 2%;
}

.work__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work__header h4 {
  text-transform: uppercase;
  font-size: 0.9rem;
}

.work__header p {
  font-size: 1.4rem;
  font-weight: bold;
}

.work__process {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  margin: 5%;
}

.work__process--card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
}

.work__process--card span#icon {
  border: 1px solid #c7c6c6;
  padding: 8%;
}

.work__process--card span#icon i {
  font-size: 1.9rem;
}

.work__process--card p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
}

.work__process--card p span {
  font-size: 1.3rem;
  font-weight: bold;
}

.work__text p {
  padding: 0% 15% 0% 15%;
  text-align: center;
}

/*work Proccess*/
/*testimony*/
.testimonies {
  display: none;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
  padding: 3%;
  user-zoom: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #f7f3f3;
}

.testimonies__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonies__text h4 {
  font-size: 0.8rem;
  margin: 6px;
  text-transform: uppercase;
}

.testimonies__text h5 {
  font-size: 1.4rem;
  color: #075285;
}

.testimonies__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  padding: 5%;
  grid-gap: 10px;
}

.testimonies__wrapper .testimony__card {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5%;
  -webkit-transform: scale3d(0.9, 0.9, 0.9);
          transform: scale3d(0.9, 0.9, 0.9);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.testimonies__wrapper .testimony__card:hover {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}

.testimonies__wrapper .testimony__card--title {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonies__wrapper .testimony__card--title * {
  margin: 1px;
  margin-top: 2px;
}

.testimonies__wrapper .testimony__card--title h4 {
  font-size: 0.9rem;
}

.testimonies__wrapper .testimony__card--title h5 {
  font-size: 0.7rem;
}

.testimonies__wrapper .testimony__card--image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonies__wrapper .testimony__card--image img {
  width: 40%;
  border-radius: 50%;
}

.testimonies__wrapper .testimony__card--desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.testimonies__wrapper .testimony__card--desc p {
  color: #999999;
}

/*testimony end*/
/*blogPost*/
.blogPost {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding: 2%;
}

.blogPost__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5%;
}

.blogPost__text h5 {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #949090;
}

.blogPost__text h4 {
  font-size: 1.4rem;
}

.blogPost__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(auto-fill 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(auto-fill 1fr));
  padding: 0% 5% 0% 5%;
}

.blogPost__wrapper .blogPost__card {
  margin: 10px;
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  grid-gap: 5px;
}

.blogPost__wrapper .blogPost__card--image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #dbdbdb;
}

.blogPost__wrapper .blogPost__card--image img {
  width: 50%;
}

.blogPost__wrapper .blogPost__card--content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 5px;
}

.blogPost__wrapper .blogPost__card--content h5 {
  font-size: 1.2rem;
}

.blogPost__wrapper .blogPost__card--content--postDate {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.blogPost__wrapper .blogPost__card--content--postDate span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.blogPost__wrapper .blogPost__card--content--postDate span small {
  margin: 2px;
  font-size: 0.9rem;
}

.blogPost__wrapper .blogPost__card--content a {
  color: #00aeff;
  text-decoration: none;
}

/*blogPostend*/
/*contact from*/
.contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  background-color: #acd0f1;
  padding: 5%;
}

.contact__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

.contact__text h4 {
  color: white;
  text-transform: uppercase;
}

.contact__text h3 {
  color: #22515f;
}

.contact__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.contact__wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-column: 5/-5;
  background-color: transparent;
  margin: 5px;
}

@media (min-width: 320px) and (max-width: 768px) {
  .contact__wrapper form {
    grid-column: 1/-1;
  }
}

.contact__wrapper form .inputGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  background-color: white;
  margin: 8px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (min-width: 320px) and (max-width: 768px) {
  .contact__wrapper form .inputGroup {
    margin: 5px;
  }
}

.contact__wrapper form .inputGroup:hover {
  border-radius: 0px;
  border: 1px solid #00a2ff;
}

.contact__wrapper form .inputGroup input {
  background-color: transparent;
  border: 2px solid transparent;
  outline: none;
  font-family: poppins;
  font-weight: bold;
}

.contact__wrapper form .inputGroup textarea {
  background-color: transparent;
  outline: none;
  border: 1px solid transparent;
}

.contact__wrapper form .inputGroup:nth-last-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid transparent;
  background-color: transparent;
}

.contact__wrapper form .inputGroup:nth-last-child(1) input {
  cursor: pointer;
  background-color: white;
  padding: 10px;
  color: #0f0f0f;
  font-weight: bold;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.contact__wrapper form .inputGroup:nth-last-child(1) input:hover {
  background-color: #062a53;
  color: white;
}

/*contact from end*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding: 2%;
  background-color: #042330;
  color: white !important;
}

.footer__wrapper {
  padding: 5%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 320px) and (max-width: 768px) {
  .footer__wrapper {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
}

.footer__wrapper--media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__wrapper--media h5 {
  font-size: 1.4rem;
}

.footer__wrapper--media ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 5% 0% 5% 0%;
}

.footer__wrapper--media ul li {
  margin: 5px;
}

.footer__wrapper--media ul li a {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: white;
}

.footer__wrapper--media ul li a i {
  font-size: 2rem;
}

.footer__wrapper--media ul li a:hover {
  color: #ff0055;
}

.footer__wrapper--company {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__wrapper--company h4 {
  font-size: 1.2rem;
}

.footer__wrapper--company ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 10% 0px 10% 0px;
}

.footer__wrapper--company ul li {
  margin: 2px;
  font-size: .9rem;
  font-weight: lighter;
}

.footer__wrapper--company ul li a {
  color: #e2dede;
}

.footer__companyName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__companyName p:nth-child(1) {
  color: #f1eded;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
}

.footer__companyName p:nth-child(1) strong {
  font-weight: 200;
  color: #ee0854;
}

.footer__companyName p:nth-last-child(1):hover {
  color: #ff0055;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */