/* Coolors Exported Palette - https://coolors.co/25769d-40b2cf */
/* SCSS HEX */
@import url("https://fonts.googleapis.com/css?family=Poppins:400");
html {
  font-size: 100%;
}

/*16px*/
body {
  background: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 1.802rem;
}

h2 {
  font-size: 1.602rem;
}

h3 {
  font-size: 1.424rem;
}

h4 {
  font-size: 1.266rem;
}

h5 {
  font-size: 1.125rem;
}

small, .text_small {
  font-size: 0.889rem;
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  height: 100%;
}

html {
  user-zoom: none;
}

body {
  user-zoom: none;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

ul li a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

button a {
  text-decoration: none;
}

/*Navigation bar styles*/
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  padding: 0.9rem;
  background-color: #101f27;
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar__logo {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__logo .menu {
  display: none;
}

@media (min-width: 320px) and (max-width: 768px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
    padding: 0px;
  }
  .navbar__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 4%;
  }
  .navbar__logo h4 {
    font-size: 1.1rem;
  }
  .navbar__logo .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .navbar__logo .menu__container {
    margin: 2px;
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .navbar__logo .menu__container div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 3px;
    border-radius: 10px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .navbar__logo .menu__container div:nth-last-child(2) {
    width: 50%;
  }
}

.navbar__links {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (min-width: 320px) and (max-width: 768px) {
  .navbar__links {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 6%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}

.navbar__links li {
  margin: 5px;
}

.navbar__links li a {
  color: #d8dce0;
}

.navbar__links li a.active {
  color: white;
}

.navbar__links li.btn {
  border: 2px solid #d8dce0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.navbar__links li.btn a {
  margin: 0.9rem;
  color: white;
}

.navbar__links li.btn:hover {
  border: 2px solid transparent;
  background-color: #37464f;
}

/*Navigation bar styles end*/
/*Landing Page styles*/
.hero {
  background: url("../images/banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: calc(2% + 10px);
  padding-left: calc(15% + 15px);
  padding-right: calc(15% + 15px);
}

@media (min-width: 320px) and (max-width: 768px) {
  .hero {
    height: initial;
    padding: 0;
    background-image: none;
    margin-top: calc(15% + 15px);
    background-image: url("../images/about.jpg");
  }
  .hero__text h1 {
    font-size: 2.4rem !important;
    font-weight: bold;
    color: white;
    text-align: start;
  }
  .hero__text p {
    color: white;
  }
}

.hero__text {
  background-color: rgba(0, 0, 0, 0.836);
  padding: 5%;
  color: white;
}

@media (min-width: 320px) and (max-width: 768px) {
  .hero__text {
    background-color: rgba(0, 0, 0, 0.685);
  }
}

.hero__text--content h1 {
  font-size: calc(100% + 25px);
  font-weight: bolder;
}

.hero__text--content p {
  font-size: 1.2rem;
}

.hero__text--buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.hero__text--buttons button {
  border: 1px solid transparent;
  padding: calc(100% - 98%);
  margin: calc(100% - 99%);
  width: calc(100% - 70%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.hero__text--buttons button a {
  color: #101f27;
  font-weight: bold;
}

@media (min-width: 320px) and (max-width: 768px) {
  .hero__text--buttons button {
    width: 50%;
    padding: calc(100% - 96%);
  }
  .hero__text--buttons button a {
    font-size: calc(100% + 5%);
  }
}

.hero__text--buttons button:nth-child(1) {
  background-color: white;
}

.hero__text--buttons button:nth-child(1) a {
  color: #101f27;
}

.hero__text--buttons button:nth-child(1):hover {
  background-color: #101f27;
}

.hero__text--buttons button:nth-child(1):hover a {
  color: white;
}

.hero__text--buttons button:nth-last-child(1) {
  background-color: #101f27;
}

.hero__text--buttons button:nth-last-child(1) a {
  color: white;
}

.hero__text--buttons button:nth-last-child(1):hover {
  background-color: white;
}

.hero__text--buttons button:nth-last-child(1):hover a {
  color: #101f27;
}

/*Landing Page styles end*/
/*about page styles */
.about {
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 320px) and (max-width: 768px) {
  .about {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.about__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__image img {
  width: 70%;
  display: block;
}

@media (min-width: 320px) and (max-width: 768px) {
  .about__image img {
    width: 100%;
  }
}

.about__text {
  padding: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__text a {
  color: #101f27;
  text-decoration: underline;
  text-underline-offset: 5px;
}

/*about page styles end*/
/*about second page styles*/
.about_second {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
}

@media (min-width: 320px) and (max-width: 768px) {
  .about_second {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

/*about second page styles end*/
/*Services section page*/
.features {
  background-color: #d8dce0;
  padding: 0.9rem;
}

.features__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.9rem;
}

.features__wrapper.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media (min-width: 320px) and (max-width: 768px) {
  .features__wrapper.container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.features__wrapper.container .card {
  background-color: white;
  margin: 5px;
  padding: 0.9rem;
}

.features__wrapper.container .card a {
  color: #101f27;
  text-decoration: underline;
  text-underline-offset: 5px;
}

/*Services section page end*/
/*goals section*/
.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media (min-width: 320px) and (max-width: 768px) {
  .container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.container .card {
  background-color: transparent;
  margin: 5px;
  padding: 0.9rem;
}

.goals {
  padding: 5%;
}

.goals .card {
  background-color: #37464f;
  margin: 10px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.goals .card span i {
  font-size: 1.7rem;
}

.goals .card p {
  color: #d8dce0;
}

/*goals section end*/
/*banner section*/
.banner {
  background-color: #101f27;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.9rem;
}

@media (min-width: 320px) and (max-width: 768px) {
  .banner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.banner__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.banner__image img {
  width: 70%;
  display: block;
}

@media (min-width: 320px) and (max-width: 768px) {
  .banner__image img {
    width: 100%;
  }
}

.banner__text {
  padding: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner__text h4 {
  color: #d8dce0;
}

.banner__text p {
  color: #d8dce0;
}

.banner__text a {
  color: #37464f;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.banner__text a:hover {
  color: #d8dce0;
  text-decoration: none;
}

/*banner section end*/
/*Work Process*/
.work {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.work__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.9rem;
}

.work__header h5 {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
}

.work__process {
  padding: 0.9rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media (min-width: 320px) and (max-width: 768px) {
  .work__process {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.work__process--card {
  padding: calc(30% - 100px);
  background-color: #101f27;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 320px) and (max-width: 768px) {
  .work__process--card {
    padding: 0.9rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .work__process--card div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.work__process--card span#icon {
  padding: 5%;
  border: 2px solid #d8dce0;
}

.work__process--card span#icon i {
  font-size: 1.5rem;
}

.work__process--card div {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work__process--card div h2 {
  color: #d8dce0;
  font-weight: bold;
}

.work__process--card div span {
  color: #37464f;
}

.work__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work__text p {
  padding-left: calc(30% - 100px);
  padding-right: calc(30% - 100px);
  text-align: center;
}

/*Work Process*/
/*testimonies*/
.testimonies {
  background-color: #d8dce0;
  padding: calc(2% + 10px);
}

.testimonies__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.9rem;
}

.testimonies__text h5 {
  text-transform: uppercase;
  font-size: 0.9rem;
}

.testimonies__text h3 {
  font-weight: bold;
}

.testimonies__wrapper {
  padding-left: calc(20% - 100px);
  padding-right: calc(20% - 100px);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media (min-width: 320px) and (max-width: 768px) {
  .testimonies__wrapper {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.testimonies__wrapper .testimony__card {
  border-radius: 5px;
  margin: calc(2% + 10px);
  padding: calc(2% + 10px);
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonies__wrapper .testimony__card--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonies__wrapper .testimony__card--title h4 {
  font-size: calc(40% + 10px);
}

.testimonies__wrapper .testimony__card--title h5 {
  font-size: calc(20% + 10px);
}

.testimonies__wrapper .testimony__card--image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: calc(2% + 10px);
}

.testimonies__wrapper .testimony__card--image img {
  width: calc(30% + 5px);
  border-radius: 50%;
}

.testimonies__wrapper .testimony__card--desc {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*testimonies end*/
/*blog*/
.blogPost {
  padding: calc(2% + 10px);
}

.blogPost__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogPost__text h5 {
  font-size: 0.7rem;
  text-transform: uppercase;
  margin: 2%;
}

.blogPost__text h4 {
  font-weight: bold;
  font-size: 1.7rem;
}

.blogPost__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

@media (min-width: 320px) and (max-width: 768px) {
  .blogPost__wrapper {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.blogPost__wrapper .blogPost__card {
  margin: 2%;
}

.blogPost__wrapper .blogPost__card--image {
  border: 2px solid #d8dce0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogPost__wrapper .blogPost__card--image img {
  width: 50%;
  max-width: 60%;
}

.blogPost__wrapper .blogPost__card--content {
  padding: 2px;
}

.blogPost__wrapper .blogPost__card--content h5 {
  font-weight: bold;
}

.blogPost__wrapper .blogPost__card--content--postDate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.blogPost__wrapper .blogPost__card--content--postDate span small {
  font-size: 0.7rem;
  margin: 3px;
}

.blogPost__wrapper .blogPost__card--content a {
  color: #101f27;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
  text-decoration: none;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
}

.blogPost__wrapper .blogPost__card--content a:hover {
  text-decoration: underline;
}

/*blog end*/
/*contact form */
.contact {
  background-color: #101f27;
}

.contact__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: calc(2% + 10px);
}

.contact__text h5 {
  color: #37464f;
  margin: 2%;
}

.contact__text h4 {
  color: #d8dce0;
  font-size: 1.2rem;
  text-align: center;
}

.contact__wrapper {
  display: -ms-grid;
  display: grid;
  padding: calc(5% + 10px);
}

.contact__wrapper form {
  background-color: white;
  margin-left: calc(35% - 100px);
  margin-right: calc(35% - 100px);
  padding: calc(2% - 10px);
}

.contact__wrapper form .inputGroup {
  border: 1px solid transparent;
  margin: 10px;
  display: -ms-grid;
  display: grid;
  border-bottom-color: #d8dce0;
}

.contact__wrapper form .inputGroup input {
  border: 2px solid transparent;
  outline: none;
  margin: calc(2% + 2px);
}

.contact__wrapper form .inputGroup textarea {
  outline: none;
  border: 2px solid transparent;
  background-color: transparent;
}

.contact__wrapper form .inputGroup:nth-last-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid transparent;
}

.contact__wrapper form .inputGroup:nth-last-child(1) button {
  padding: calc(2% + 5px);
  padding-bottom: 2%;
  padding-top: 2%;
  border: 1px solid transparent;
  background-color: #101f27;
  color: #d8dce0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.contact__wrapper form .inputGroup:nth-last-child(1) button:hover {
  background-color: #174888;
  color: white;
}

@media (min-width: 320px) and (max-width: 768px) {
  .contact__wrapper form .inputGroup:nth-last-child(1) {
    padding: calc(1% + 10px);
  }
  .contact__wrapper form .inputGroup:nth-last-child(1) button {
    padding: calc(2% + 5px);
    width: 100%;
  }
}

/*contact form end*/
/*footer*/
.footer {
  background-color: #101f27;
  padding: calc(2% + 10px);
}

.footer__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  color: #d8dce0;
}

@media (min-width: 320px) and (max-width: 768px) {
  .footer__wrapper {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
  }
}

.footer__wrapper--media ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__wrapper--media ul li {
  margin: 5px;
}

.footer__wrapper--media ul li a {
  color: white;
  font-size: 1.2rem;
}

.footer__wrapper--company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5%;
}

.footer__wrapper--company ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__wrapper--company ul li a {
  color: #d8dce0;
}

.footer__companyName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

/*footer*/
/*# sourceMappingURL=style.css.map */