/* Coolors Exported Palette - https://coolors.co/25769d-40b2cf */

$primary-text-color: #101f27;
$secondary-text-color: #37464f;
$third-text-color:#d8dce0;


/* SCSS HEX */
// $primary-text-color: #001B2E;
// $secondary-text-color: #294C60;
// $third-text-color:#ADB6C4;

// As hex codes */
$color-primary-0: #00F270;	// Main Primary color */
$color-primary-1: #36EE8B;
$color-primary-2: #00F170;
$color-primary-3: #00B554;
$color-primary-4: #008C41;

$color-secondary-1-0: #029CEF;	// Main Secondary color (1) */
$color-secondary-1-1: #3EAEEA;
$color-secondary-1-2: #0D9FEE;
$color-secondary-1-3: #026BA3;
$color-secondary-1-4: #02537E;

$color-secondary-2-0: #FF8B00;	// Main Secondary color (2) */
$color-secondary-2-1: #FFA539;
$color-secondary-2-2: #FF8B00;
$color-secondary-2-3: #FF8B00;
$color-secondary-2-4: #C76C00;

$color-complement-0: #FF3900;	// Main Complement color */
$color-complement-1: #FF6639;
$color-complement-2: #FF3A00;
$color-complement-3: #FF3900;
$color-complement-4: #C72D00;

